

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
  <div class="card text-center">
    <div class="card-header bg-white fw-bolder fs-4 text-primary mt-3">
      To-Do List <img width="35" height="35" src="https://img.icons8.com/3d-fluency/94/test-passed.png" alt="test-passed"/>
    </div>
    <div class="card-body">
      <app-form></app-form>

      <p class="card-text"></p>

      <app-list></app-list>
      
    </div>
    <div class="card-footer  bg-white">
     
    </div>
  </div>
</div>